// COLORS
$color-white: #fff;
// $color-primary: #fe7f2d;
$color-primary: #f35b04;
$color-secondary: #457b9d;
$color-secondary-light: #a8dadc;
$color-secondary-dark: #1d3557;
$color-accent: #ffde17;
$color-black: #1e212b;
$color-offwhite: #f1faee;
